*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

:root{
    --sideWidth: 3.5rem;
    --headerHeight: 6rem;
    --footerHeight: 5rem;
}

html{
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: grey;

    line-height: 1.5;   /*migliora la leggibilità*/
}

body{
    height: 100vh;
}




/* COMMON */
h2, h3{
    color: white;
    font-weight: 800;
}





/* UTILITY */
.pTop{
    padding-top: calc(var(--headerHeight) + .70em);
}

.txtCenter{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}
.circle{
    border-radius: 50%;
}

.wrap{
    flex-wrap: wrap;
}

.min-0{
    min-height: 0;
}

.overHidden{
    overflow: hidden;
}
.scroll{
    overflow: auto;
}

.rel{
    position: relative;
}

.absolute{
    position: absolute;
    /* top:0;
    left: 0; */
}

.min-logo{
    min-height: 2.5rem;
}







.banner-top{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: var(--headerHeight);
    width: calc(100% - var(--sideWidth));

    overflow-x: hidden;

    background-color: rgba(0, 0, 0, .5);
}

.upgrade-account{

    margin-right: 1.3em;
    padding: 1em 3.5em;

    border: 1px solid white;
    border-radius: 2em;

    color: white;

    background-color: rgba(0, 0, 0, .5);
}

.upgrade-account:hover{
    cursor: pointer;
    transform: scale(1.1) translate(-10px);
}



header {
    position: fixed;
    top: 0;
    left: 0;

    flex-direction: column;
    justify-content: space-between;
    

    height: calc(100% - var(--footerHeight));
    width: var(--sideWidth);

    /* padding: .5em .70em; */

    background-color: black;
}

nav{
    justify-content: space-between;
    flex-basis: 100%;

    min-height: 0;
}

nav ul li .logo-big{
    width: auto;
    height: 2rem;

    display: none;
}

nav .last{
    flex-shrink: 0;
}

ul>ul{
    min-height: 0;
}

.user-menu li {
    padding: .5em .70em;    /*usabilità migliorata per touchscreen*/
    display: flex;
    align-items: center;
}

.large{
    display: none;
    margin-left: .5rem;
    font-size: .9rem;
}
.user-menu li:hover{
    cursor: pointer;    /*per far capire che è cliccabile*/
}

.user-menu li img{
    width: 1.5em;
    height: 1.5em;
}

.user-menu .down-img {
    height: 1em;
    width: 1em;
    transform: translate(3px);
}

.user-img {
    height: 2em;
    background-color: grey;

    width: 2em;
}




li.playlist{
    flex-direction: column;
    align-items: flex-start;

    flex-shrink: 1;

    margin: 0;
    display: none;

    text-transform: capitalize;
}

li.playlist:hover{
    cursor: default;
}

.playlist li {
    padding-left: 0;
}

.fa-plus{
    font-size: 1rem;
    font-weight: 900;

    width: 2rem;
    height: 2rem;
    text-align: center;
    
    color: black;
    background-color: grey;

    margin-right: .5rem;
}

.fa-plus::before{
    line-height: 2rem;
}



.songs-container > *+* {  /*ogni figlio diretto tranne il primo avrà un margin-top di 1rem*/
    margin-top: 3rem;
}

main .songs-container{
    position: fixed;
    top: 0;
    right: 0;

    height: calc(100% - var(--footerHeight));
    width: calc(100% - var(--sideWidth));

    padding: 0 1rem;

    overflow-y: auto; /*scrollbar che compare solo se necessario*/
}

.songs-container li{
    display: inline-block;
}

.songList{
    margin-top: 1rem;
    margin-right: -1rem;

    flex-wrap: wrap;
}

.songList div{
    text-align: center;
    margin-right: 1rem;
    flex: 0 0 calc(50% - 1rem);
}

.songList img{
    width: 100%;
}

.songList h3{
    text-transform: capitalize;
}



footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 49;

    align-items: center;
    justify-content: space-between;

    height: var(--footerHeight);
    width: 100%;

    padding: 1rem .5rem;

    background-color: #282828;
}

footer>*{
    margin-right: 1rem;
}

.actually-playing{
    height: 100%;
}

.actually-playing>*{
    margin-right: .5rem;
}
.actually-playing img{
    max-height: 70%;
    align-self: center;
}

.actual-info{
    align-self: center;
    flex-wrap: wrap;

    width: 4rem;
}
.actual-info h2, .actual-info h3{
    width: 100%;

    display: inline-block;
    max-width: 9ch;
}
.actual-info h2{
    font-size: .8rem;
    line-height: 1;
}
.actual-info h3{
    font-size: .7rem;
    text-transform: capitalize;

    line-height: 1.4;
}

.like-save{
    flex-direction: column;

    color: white;

    justify-content: center;

    margin-bottom: -.5rem;

    margin-right: 1.5rem;
}

.like-save>*{
    margin-bottom: .5rem;
}

.player{
    flex-direction: column;
    height: 100%;

    min-width: 150px;
    max-width: 500px;
    flex: 1 1 200px;
}

.controls{
    height: 100%;
    width: 100%;
    max-width: 300px;
    color: white;

    align-self: center;

    margin-right: -1rem;
    margin-bottom: .5rem;
}

.controls>*{
    width: 20%;
    margin-right: 1rem;
    
}

.controls .fa-play{
    text-align: center;
}

.fa-play::before{
    border: 3px solid white;
    border-radius: 50%;
    padding: 2px 2px 2px 1px;
    
}

.controls .fa-forward-step, .controls .fa-rotate-right{
    text-align: right;
}


.timeline{
    color: white;
    margin: 0 .5rem;
}

.bar{
    width: 100%;
    height: .5rem;
    background-color: lightgrey;
    border-radius: 2em;
    align-self: center;
    margin: 0 .5rem;
}

.device-volume{
    color: white;
    flex: 0 0 180px;

    font-size: 1rem;

    margin-right: -.5rem;
}
.device-volume>*{
    margin-right: .5rem;
}

.device-volume :last-child{
    margin-left: -.2rem;
}


/* DEBUG */
.debug header{
    /* background-color: #141922; */
}

.debug aside{
    /* background-color: red; */
}

.debug main .songs-container{
    background-color: #141922;
}

.debug footer{
    /* background-color: grey; */
}


@media screen and (min-width: 540px) {
    :root{
        --sideWidth: 11rem;
    }

    li.playlist{
        display: flex;
    }

    .large{
        display: flex;
    }

    .logo-small{
        display: none;
    }

    nav ul li .logo-big{
        display: flex;
        /* width: auto; */
    }
}

@media screen and (min-width: 701px) {

    .songList div{
        flex-basis: calc(100% / 4 - 1rem);   
    } 
}

@media screen and (min-width: 1024px) {

    .songList div{
        flex-basis: calc(100% / 6 - 1rem);   
    } 
}