*{
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

:root{
    --sideWidth: 3.5rem;
    --bannerHeight: 6rem;
    --footerHeight: 6rem;
}

html{
    font-family: 'Signika', sans-serif;
    font-size: 16px;
    color: grey;

    height: 100vh;

    line-height: 1.5;   /*migliora la leggibilità*/
}





/* COMMON */
h2, h3{
    color: white;
    font-weight: 800;
}





/* UTILITY */
.pTop{
    padding-top: calc(var(--headerHeight) + .70em);
}

.txtCenter{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.flex{
    display: flex;
}

.circle{
    border-radius: 50%;
}

.banner{
    position: fixed;
    top: 0;
    right: 0;

    flex-grow: 1;
    height: var(--bannerHeight);
    width: calc(100% - var(--sideWidth));
    
    align-items: center;
    justify-content: flex-end;

    background-color: rgba(0, 0, 0, .5);
}

.upgrade-account{

    margin-right: .5em;
    padding: 1em 3.5em;

    border: 1px solid white;
    border-radius: 2em;

    color: white;

    background-color: rgba(0, 0, 0, .5);


}

main{
    flex: 1 1 100%;
    background-color: red;
    height: calc(100% - var(--footerHeight));
}

header{
    flex: 0 0 var(--sideWidth);
    background-color: yellow;
}
.songs{
    flex: 1 1 100%;
    background-color: green;
    
}

footer{
    flex: 1 1 100%;
    align-self: flex-end;
    height: var(--footerHeight);
    background-color: grey;
}

body{
    height: 100vh;

    flex-wrap: wrap;
}
